.ttt {
  height: 100vh;
  width: 100vw;
  background-color: #192a33;
}

/* ------------------------------------------------ */
.ttt-header {
  height: 17vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ttt-header .title {
  font-size: 60px;
  font-weight: bolder;
}

.ttt-header .sub-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: calc(1.1 * 0.1em);
}

/* ------------------------------------------------ */
.ttt-body {
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* ---------------------------- */
.ttt-body-left {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.ttt-body-left img {
  width: 100%;
}

.ttt-body-left .new-game-btn {
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: #1f3640;
  padding: 3% 8%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 8px 8px #10212a;
  transition: transform 0.2s ease-in-out;
}

/* ---------------------------- */
.ttt-game-board {
  width: calc(90% - 50px);
  aspect-ratio: 1;
  max-width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.ttt-game-board .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ttt-cell {
  width: calc((100% / 3) - 10px);
  aspect-ratio: 1;
  background-color: #1f3640;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 8px 8px #10212a;
  transition: transform 0.2s ease-in-out;
}

.cellX,
.cellO {
  height: 70%;
  width: 70%;
  margin: 13% 15%;
  transform: rotate(270deg);
}

.result-popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(49, 49, 49, 0.4);
  backdrop-filter: blur(10px);
  border: 2px solid white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 5;
}

.ttt-res-X,
.ttt-res-O,
.ttt-res-D {
  display: none;
  font-size: 72px;
  font-weight: bold;
  transform: rotate(-30deg);
}

.ttt-res-X {
  color: #ff615e;
}

.ttt-res-O {
  color: #3ec5f4;
}

.ttt-res-D {
  color: #fea500;
}

/* ---------------------------- */
.ttt-score-board {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ttt-stats-title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.ttt-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  padding: 0 20px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px rgba(255, 255, 255, 0.2);
}

.ttt-stats-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.ttt-stats-label img {
  height: 30px;
  width: 30px;
}

.ttt-stats-label div {
  color: white;
  font-size: medium;
  font-weight: bold;
}

.ttt-stats-score {
  color: white;
  font-size: 56px;
  font-weight: bold;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.2);
}

/* ------------------------------------------------ */
@media only screen and (max-width: 1200px) {
  .ttt {
    height: auto;
    padding-bottom: 50px;
  }

  .ttt-body {
    height: auto;
    display: grid;
    grid-template-areas: "board" "score-board" "new-game-btn";
    margin-top: 50px;
    place-items: center;
  }

  .ttt-game-board {
    grid-area: board;
    width: 90vw;
  }

  .ttt-score-board {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin: 50px 0px;
  }

  .ttt-stats {
    width: calc(100% - 20px);
    padding: 0px 10px;
  }

  .ttt-stats-title {
    display: none;
  }

  .ttt-body-left {
    grid-area: new-game-btn;
    width: 100%;
  }

  .ttt-body-left img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .ttt-body-left .new-game-btn {
    font-size: 25px;
    padding: 2% 5%;
  }

  .ttt-score-board {
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .ttt-stats {
    flex-direction: column;
    width: calc(100% - 10px);
    padding: 5px;
  }

  .ttt-stats-label {
    margin: 10px 0px;
    flex-direction: row;
    gap: 5px;
  }

  .ttt-stats-score {
    width: 100%;
    text-align: center;
  }

  .ttt-stats img {
    height: 25px;
    width: 25px;
  }

  .ttt-stats-label div {
    font-size: medium;
  }

  .ttt-stats-score {
    font-size: 46px;
  }
}

@media only screen and (max-width: 480px) {
  .ttt-header .title {
    font-size: 45px;
  }

  .ttt-header .sub-title {
    font-size: 18px;
  }

  .ttt-res-X,
  .ttt-res-O,
  .ttt-res-D {
    font-size: 56px;
  }

  .cellX,
  .cellO {
    height: 70%;
    width: 70%;
    margin: 12% 15%;
    transform: rotate(270deg);
  }
}
